a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.container{
    max-width: 1200px;
    /* 0 for top/bottom, auto for L/R */
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: center;
}

nav > a{
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    color: rgba(255,255,255,.5);
}

.section{
    padding: 30px;
}

.row{
    margin-left: -10px;
    margin-right: -10px;
}

.flex,
.row{
    display: flex;
}

.col{
    flex: 1;
    padding: 10px;
}

.box{
    background: #a25b5b;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}